@import url("https://fonts.googleapis.com/css2?family=Gafata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #e6e9ef;
  min-height: 100vh;
  font-family: "Gafata", sans-serif;
}
.header {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  background: -webkit-linear-gradient(
    -90deg,
    rgba(2, 0, 36, 0.647963408996411) 0%,
    rgba(1, 85, 124, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.drop_shadow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #E6E9EF; */
  box-shadow: 13px 13px 20px #d1d9e6, -15px -13px 20px rgb(255, 255, 255, 0.6);

  transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);
}
.drop_shadow:hover {
  background: -webkit-linear-gradient(
    -90deg,
    rgba(2, 0, 36, 0.647963408996411) 0%,
    rgba(1, 85, 124, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background-color: #E6E9EF; */
  box-shadow: 13px 13px 20px rgb(255, 255, 255, 0.6), -15px -13px 20px #d1d9e6;
}
.drop_shadow_text {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.soft_circle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  box-shadow: 12px 12px 20px rgb(249, 251, 255), -15px -13px 20px rgb(175, 170, 170),
              9px 9px 20px rgb(140, 141, 145), -17px -17px 20px rgb(255, 255, 255);

}
